.all{
    margin: 0;
    padding: 0;
    height: 110vh;
    width: 100vw;
    background-color: #162a2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jovem-b{
    position: relative;
    background-color: #fff;
    height: 95%;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1{
        margin-top: 100px;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }

    .row{
        padding: 1px 300px;
        background-color: #0f1e1f;
    }

    .avo{
        margin-bottom: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .text{
            h2{
                text-align: center;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }

        label{
            p{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 600;
                color: #074a4d;
            }
            input{
            border-radius: 3px;
            border: 2px solid #162a2b;
            height: 40px;
            width: 250px;
            padding-left: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

         ::placeholder{
                opacity: 1;
                color: #000;
            }
        }


    } 

    button{
        cursor: pointer;
        margin-top: 50px;
        padding: 12px 225px;
        background-color:#182b2c;
        color: #ffffff;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 16px;
        border: none;
        border-radius: 7px;
    }

    

   
}